<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Templates Index</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-social.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.modal {
	margin-top: 100px;
}

.panelConnexion {
	margin-top: 10px;
}
/* Add a gray background color and some padding to the footer */
.footer {
	margin-top: 50px;
	background-color: #6A6B6A;
}

.panel {
	margin-top: 40px;
	border-color: threeddarkshadow;
}
</style>
<title>Inscription Facebook</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="">Accueil</a></li>
					<li><a href="">News</a></li>
					<li><a href=""><span class="glyphicon glyphicon-education"></span>
							Cours</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${#httpServletRequest.getRemoteUser() == null }"><a
						href="/inscription"><span
							class="glyphicon glyphicon-floppy-saved"></span> Inscription</a></li>
					<li th:if="${#httpServletRequest.getRemoteUser() == null}"><a
						href="" data-toggle="modal" data-target="#loginMod"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<li><a href=""><span class="glyphicon glyphicon-envelope"></span>
							Contact</a></li>
					<li th:if="${#httpServletRequest.getRemoteUser() != null}"
						class="dropdown"><a
						th:text="${#httpServletRequest.getRemoteUser()}"
						class="dropdown-toggle" id="drop1" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false"><span
							class="caret"></span> </a>
						<ul class="dropdown-menu" aria-labelledby="drop1">
							<li><a th:href="@{/logout}">Logout</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="col-md-3"></div>
	<div class="container col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<label>Merci de bien vouloir nous renseigner votre email
					pour finaliser inscription et ainsi avoir accès à la totalité de
					nos services</label>
				<form th:action="@{SaveUtilisateurFacebook}" method="post"
					th:object="${utilisateur}" enctype="multipart/form-data">
					<div class="form-group">
						<br /> <label class="control-label">Email*</label> <input
							type="email" th:field="*{email}" class="form-control" /> <span
							class="text-danger" th:errors="*{email}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Photo:</label> <input type="file"
							name="picture" class="form-control" /> <span class="text-danger"
							th:errors="*{photo}"></span>
					</div>
					<input type="hidden" th:field="*{username}" class="form-control" />
					<input type="hidden" th:field="*{password}" class="form-control" />
					<input type="hidden" th:field="*{passwordConfirmation}"
						class="form-control" /> <input type="hidden"
						th:field="*{facebookId}" class="form-control" />
					<button type="submit" class="btn btn-succes pull-right">Envoyer</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</body>
</html>