<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/adminTemplate">
<head>
<title>Admin Console</title>

<style>
.spacer {
	margin-top: 60px;
}
</style>
</head>
<body layout:fragment="content">
	
	<div class="container spacer col-md-2">
		<div class="list-group">
			<a href="#" class="list-group-item disabled">Menu</a> 
			<a th:href="@{/admin/home}" class="list-group-item">Home</a> 
			<a th:href="@{/admin/listNews}" class="list-group-item">News</a>
			<a th:href="@{/admin/listUsers}" class="list-group-item">Users</a>
			<a th:href="@{/admin/courses}" class="list-group-item">Courses</a>
			<a th:href="@{/admin/contact}" class="list-group-item">Mail Users</a>
			<a th:href="@{/admin/image}" class="list-group-item">Images</a>
		</div>
	</div>
	
	<div class="container col-md-10">
		<div>
			<a th:href="@{/admin/home}">Back</a>
			<a th:href="@{/admin/createNews}">Create News</a>
		</div>
		<div class="panel panel-info">
			<div class="panel-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titre</th>
							<th>Author</th>
							<th>Category</th>
							<th>Update Date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="n:${pageNews.content}">
							<td th:text="${n.id}"></td>
							<td th:text="${n.title}"></td>
							<td th:text="${n.author}"></td>
							<td th:text="${n.category}"></td>
							<td th:text="${n.updatedDate}"></td>
							<td><a onclick="return confirm('Etes vous sure?')"
								th:href="@{supprimerNews(id=${n.id})}">Supprimer</a></td>
							<td><a th:href="@{editNews(id=${n.id})}">Edit</a></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<div class="container">
		<ul class="nav nav-pills">
			<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
				<a th:text="${p}" th:href="@{listNews(page=${p})}"></a>
			</li>
		</ul>
	</div>


</body>
</html>