<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
<head>
<meta charset="utf-8" />
<title>News</title>
<style>
.body {
	background-color: #eeeeee;
}

.thumbnail{
	border-color: gray;
}
.list-group-item{
	background-color: #Aed581;
	border-color: gray;
}
.jumbotron {
	background-color:#bdbdbd;
	text-decoration: underline;
	font-family: Stencil Std, fantasy;
	font-size: x-large;
	
 }
</style>
</head>
<body layout:fragment="content" class="body">
	<div class="jumbotron text-center">
		<h1>NEWS</h1>
		<p>Quoi de neuf ?</p>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div class="list-group">
				<button type="button" class="list-group-item">fevrier 2017</button>
				<button type="button" class="list-group-item">janvier 2017</button>
				<button type="button" class="list-group-item">decembre 2016</button>
				<button type="button" class="list-group-item">novembre 2016</button>
				<button type="button" class="list-group-item">octobre 2016</button>
				<button type="button" class="list-group-item">septembre 2016</button>
				<button type="button" class="list-group-item">aout 2016</button>
				<button type="button" class="list-group-item">juillet 2016</button>
				<button type="button" class="list-group-item">juin 2016</button>
				<button type="button" class="list-group-item">mai 2016</button>
			</div>
		</div>
		<div class="col-md-8">
			<div th:each="n:${listNews}">
				<div class="col-sm-5 col-md-3">
					<div class="thumbnail">
						<img src="" alt="" />
						<div class="caption">
							<h3 th:text="${n.title}"></h3>
							<p th:text="${n.summary}"></p>
							<p>
								<a href="#" class="btn btn-primary" role="button">Button</a> <a
									href="#" class="btn btn-default" role="button">Button</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>