<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
layout:decorator="index">
<head>
<meta charset="utf-8"/>
<title>Error</title>
</head>
<body>
	<div layout:fragment="content" class="container">
	
		<div class="panel panel-primary">
			<div class="panel-heading">Problem d'authorisation</div>
			<div class="panel-body">
			 <div class="text-danger">
			  	ERROR 403: Vous n'avez pas droit d'accéder à cette ressource
			 </div>
			</div>
		</div>
	</div>
</body>
</html>