<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
<head>
<meta charset="utf-8" />
<title>Contact</title>
<style>
.panel {
    margin-top: 40px;
    border-color: threeddarkshadow;
    border-style: groove;
 }
</style>
</head>
<body layout:fragment="content">
	
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="panel panel-default">

			<div class="panel-heading text-center">
				<h2>Contactez-nous!</h2>
			</div>

			<div class="panel-body">
				<form th:action="@{SendUsQuestions}" method="post"
						th:object="${contact}">
					
					<div class="form-group">
						<label for="pNom">Votre Nom (Requis)</label>
						<input type="text" th:field="*{nom}" class="form-control" />
						<span class="text-danger" th:errors="*{nom}"></span>
					</div>
					
					<div class="form-group">
						<label for="pMail">Votre Email (Requis)</label>
						<input type="email" th:field="*{email}" class="form-control" />
						<span class="text-danger" th:errors="*{email}"></span>
					</div>
					
					<div class="form-group">
						<label for="pObjet">Sujet</label> 
						<input type="text" th:field="*{objet}" class="form-control" />
						<span class="text-danger" th:errors="*{objet}"></span>
					</div>
					
					<div class="form-group">
						<label for="pSujet">Sujet</label>
						<textarea name="pMessage" th:field="*{sujet}" class="form-control" placeholder="Message"></textarea>
						<span class="text-danger" th:errors="*{sujet}"></span>
					</div>
					<div class="checkbox">
						<label> <input type="checkbox" /> Check me out </label>
					</div>
					<button type="submit" class="btn btn-default">Envoyer</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>