<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Templates Index</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-social.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" href="/css/prism.css" />
<script src="/js/prism.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
.modal {
	margin-top: 100px;
}

.panelConnexion {
	margin-top: 10px;
}
/* Add a gray background color and some padding to the footer */
.footer {
	margin-top: 50px;
	background-color: #6A6B6A;
}
</style>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/acceuil">Accueil</a></li>
					<li><a href="/news">News</a></li>
					<li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/home}">Admin Home</a></li>
					<li><a href="/cours"><span
							class="glyphicon glyphicon-education"></span> Cours</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><div>
						<form class="navbar-form" role="search" th:action="@{search}">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Recherche..."
									name="q"/>
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div></li>
					<li th:if="${#httpServletRequest.getRemoteUser() == null }"><a
						href="/inscription"><span
							class="glyphicon glyphicon-floppy-saved"></span> Inscription</a></li>
					<li th:if="${#httpServletRequest.getRemoteUser() == null}"><a
						href="" data-toggle="modal" data-target="#loginMod"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<li><a href="" data-toggle="modal" data-target="#contactMod"><span
							class="glyphicon glyphicon-envelope"></span> Contact</a></li>
					<li th:if="${#httpServletRequest.getRemoteUser() != null}"
						class="dropdown"><a
						th:text="${#httpServletRequest.getRemoteUser()}"
						class="dropdown-toggle" id="drop1" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false"><span
							class="caret"></span> </a>
						<ul class="dropdown-menu" aria-labelledby="drop1">
							<li><a th:href="@{/profil}">Mon Compte</a></li>
							<li><a th:href="@{/parametres}">Parametres</a></li>
							<li><a th:href="@{/courses}">Mes cours</a></li>
							<li><a th:href="@{/messages}">Mes messages</a></li>
							<li role="separator" class="divider"></li>
							<li><a th:href="@{/logout}">Logout</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>

	<div>
		<div layout:fragment="content">
		</div>
	</div>
	
	<!-- Modal login -->
	<div class="modal fade" id="loginMod" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Connexion</h4>
				</div>
				<div class="modal-body">
					<br />
					<form action="/signin/facebook" method="POST">
						<input type="hidden" name="scope" value="public_profile" />
						<button class="btn btn-block btn-social btn-lg btn-facebook">
							<span class="fa fa-facebook-official" aria-hidden="true"></span>Se
							connecter avec Facebook
						</button>
					</form>
					<br />
					<div class="panel panel-default panelConnexion">
						<div class="panel-body">
							<form th:action="@{login}" method="post">
								<div class="form-group">
									<label for="email">Email</label> <input type="text"
										class="form-control" name="username" placeholder="Username" />
								</div>
								<div class="form-group">
									<label for="email">Password</label> <input type="password"
										class="form-control" name="password" placeholder="Password" />
								</div>
								<div class="checkbox">
									<label> <input type="checkbox" />Se souvenir de moi
									</label>
								</div>
								<div class="pull-right">
									<a th:href="@{motDePasseOublie}">Mot de passe oublié ?...</a>
								</div>
								<br />
								<button type="submit" class="btn btn-success">Login</button>
							</form>
							<br /> <label>Pas encore enregistré ? <a>Inscrivez-vous
									gratuitement</a></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Contact -->
	<div class="modal fade" id="contactMod" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Contactez-Nous</h4>
				</div>
				<div class="modal-body">
					<form th:action="@{SendUsQuestions}" method="post"
						th:object="${contact}">
						<div class="form-group">
							<label>Votre Nom (Requis)</label> <input type="text"
								class="form-control" name="nom" placeholder="Nom" />
						</div>
						<div class="form-group">
							<label>Votre Email (Requis)</label> <input
								type="email" class="form-control" name="email" placeholder="Email" />
						</div>
						<div class="form-group">
							<label>Sujet</label> <input type="text"
								class="form-control" name="objet" placeholder="Sujet" />
						</div>
						<div class="form-group">
							<label>Message</label>
							<textarea name="sujet" class="form-control"
								placeholder="Message"></textarea>
						</div>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
						<button type="submit" class="btn btn-success">Envoyer</button>
					</form>
				</div>
			</div> 
		</div>
	</div>

	<script type="text/javascript">
		$('.dropdown-toggle').dropdown()
	</script>
</body>
</html>