<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
<head>
<meta charset="utf-8" />
<title>Inscription</title>
</head>
<body layout:fragment="content">
	<div class="jumbotron text-center">
		<h1>Inscrivez-vous!</h1>
		<p>Ouvrez-vous au monde de Spring</p>
	</div>

	<div class="col-md-1"></div>

	<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h3>Free</h3>
			</div>
			<div class="panel-body">
				<div>
					<p>Suivez les cours et tutoriaux de bases,familiarisez vous avec le framework spring</p>
				</div>
				<div>
					<p>Gratuit!</p>
				</div>
				<a th:href="@{inscform?type=1}"><button class="btn btn-success">Choisir!</button></a>
			</div>
		</div>
	</div>

	<div class="col-md-1"></div>

	<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h3>First</h3>
			</div>
			<div class="panel-body">
				<div>
					<p>Suivez les cours avancés, Apprenez les entrailles de Spring.</p>
				</div>
				<div>
					<p>10 Euros/Mois</p>
				</div>
					<a th:href="@{inscform?type=2}"><button class="btn btn-success">Choisir!</button></a>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading text-center">
				<h3>First Premium</h3>
			</div>
			<div class="panel-body">
				<div>
					<p>Acces illimité a tout le contenu du site cours, tutoriaux et
						code source</p>
				</div>
				<div>
					<p>200 Euros</p>
				</div>
				<a th:href="@{inscform?type=3}"><button class="btn btn-success">Choisir!</button></a>
			</div>
		</div>
	</div>

	<div class="col-md-1"></div>
	
</body>
</html>