<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
<head>
<meta charset="utf-8" />
<title>Login</title>
<style>
.panel {
	margin-top: 40px;
	border-color: threeddarkshadow;
}
</style>
</head>
<body layout:fragment="content">
	<div class="col-md-4"></div>
	<div class="container col-md-4">
		<div class="panel panel-default">

			<div class="panel-heading text-center">
				<h2>Login</h2>
			</div>

			<div class="panel-body">
				<br />
				<form action="/signin/facebook" method="POST">
					<input type="hidden" name="scope" value="public_profile" />
					<button class="btn btn-block btn-social btn-lg btn-facebook">
						<span class="fa fa-facebook-official" aria-hidden="true"></span>Se
						connecter avec Facebook
					</button>
				</form>
				<br />
				<div th:if="${param.error}" class="text-danger">
					username ou mot de passe incorrect
				</div>
				<div th:if="${param.logout}" class="text-success">
			  		Vous avez été déconnecté
				</div>
				
				<form th:action="@{/login}" method="post">
					<div class="form-group">
						<label>Username</label> 
						<input type="text" class="form-control" name="username" placeholder="Username" />
					</div> 
					<div class="form-group">
						<label>Password</label> 
						<input type="password" class="form-control" name="password" placeholder="Password" />
					</div>
					<div class="checkbox">
						<label> <input type="checkbox" /> Check me out
						</label>
					</div>
					<div class="pull-right">
									<a th:href="@{/motDePasseOublie}">Mot de passe oublié ?...</a>
								</div>
					<button type="submit" class="btn btn-default">Login</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>