<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
<head>
<meta charset="utf-8" />
<title>News</title>
<style>
.list-group-item {
	background-color: #Aed581;
	border-color: gray;
	margin-left: 15px;
}
</style>
</head>
<body layout:fragment="content">
	<div class="jumbotron text-center">
		<h1>NEWS</h1>
		<p>Quoi de neuf ?</p>
	</div>
	<div>
		<div class="col-md-2">
			<div class="list-group">
				<a href="#" class="list-group-item disabled">Categories</a> <a
					href="#" class="list-group-item">Ingenierie</a> <a href="#"
					class="list-group-item">Release</a> <a href="#"
					class="list-group-item">Actualités et événements</a>
			</div>
			<div class="list-group">
				<a href="#" class="list-group-item disabled">Date de Parution</a> <a
					href="#" class="list-group-item">fevrier 2017</a>
			</div>
		</div>
		<div class="col-md-8">
			<div th:each="n:${listNews}">
				<div class="container col-md-6">
					<div class="col-md-4">
						<img src="" alt="" width="150px" height="150px" />
					</div>
					<div class="col-md-8">
						<div class="caption">
							<h3 th:text="${n.title}"></h3>
							<p th:text="${n.summary}"></p>
							<p>
								<button type="button" class="btn btn-success pull-right">Voir</button>
							</p>
							<br /> <br />
						</div>
					</div>
				</div>
				<br/>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</body>
</html>