<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
<head>
<meta charset="utf-8" />
<title>News</title>
<style>
.list-group-item {
	background-color: #Aed581;
	border-color: gray;
	margin-left: 15px;
}
.pbnews {
	height: 120px;
}
.pfnews{
	height: 55px;
}
</style>
</head>
<body layout:fragment="content">
	<div class="jumbotron text-center">
		<h1>NEWS</h1>
		<p>Quoi de neuf ?</p>
	</div>
	<div>
		<div class="col-md-2">
			<div class="list-group">
				<a href="#" class="list-group-item disabled">Categories</a> <a
					th:href="@{news}" class="list-group-item">Tous les news</a> <a
					th:href="@{listNewsCat(category=ENGINEERING)}"
					class="list-group-item">Ingenierie</a> <a
					th:href="@{listNewsCat(category=RELEASES)}" class="list-group-item">Release</a>
				<a th:href="@{listNewsCat(category=NEWS)}" class="list-group-item">Actualités
					et événements</a>
			</div>
			<div class="list-group">
				<a href="#" class="list-group-item disabled">Date de Parution</a> <a
					href="#" class="list-group-item">fevrier 2017</a>
			</div>
		</div>
		<div class="col-md-8">
			<div th:each="n:${listNews}">
				<div class="container news col-md-6">
					<div class="panel panel-default">
						<div class="panel-body pbnews">
							<h3 class="media-heading" th:text="${n.title}"></h3>
							<p th:text="${n.category}"></p>
						</div>
						<div class="panel-footer pfnews">
						<div>
							<a th:href="@{detailNews(id=${n.id})}" class="btn btn-success pull-right"
								role="button">Voir</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>